:root{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

:root {
    --dark: #252525;
    --darkgrey: #1a1a1a;
    --darkishgrey: #333333;
    --alternatingeven: #272626;
    --alternatingodd: #333333;
    --whitetile: #f0d9b5;
    --blacktile: #b58863;
    --whitehighlight: #f7ec8b; 
    --blackhighlight: #d2b55b; 
    --selectedtile: #ffd800;
}